# Movies Tonight Part 2: SQL DDL

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to say what each line does

In [12]:
%%sql
sqlite:///Movies.db

'Connected: @Movies.db'

In [14]:
%%sql
DROP table if exists Theater;
DROP table if exists Artist;
DROP table if exists Show;
DROP table if exists Movie;
DROP table if exists Credit;

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [ ]:
%%sql
CREATE TABLE 'Theater'(
    TID INTEGER PRIMARY KEY,
    TName TEXT NOT NULL, 
    Phone TEXT,
    Location TEXT NOT NULL);

In [ ]:
%%sql
CREATE TABLE 'Artist' (
    AID INTEGER PRIMARY KEY,
    AName TEXT NOT null);

In [ ]:
%%sql
CREATE TABLE 'Show' (
    SID INTEGER primary key,
    STime TEXT not null, 
    TID INTEGER not null,
    MID INTEGER not null,
    Foreign key (TID) references `Theater`(TID), 
    Foreign key (MID) references `Movies` (MID)
);

In [ ]:
%%sql
CREATE TABLE 'Movies' (
    MID INTEGER PRIMARY KEY,
    MTitle TEXT,
    Rating TEXT);

In [17]:
%%sql
CREATE TABLE 'Credit'(
    CID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
    AID INTEGER NOT NULL,
    CCODE INTEGER NOT NULL,
    foreign key (MID) REFERENCES 'Movies' (MID),
    foreign key (AID) REFERENCES 'Artist' (AID))

 * sqlite:///Movies.db
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

Created Tables with Foreign Keys already in place.

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

Completed Part 2